
.mainCart{
    width: 37.81rem;
    height: 47.18rem;
    display: none;
}


.List-Products{
    width: 37.81rem;
    height: 13.25rem;
}

.Count-Summary{
    width: 37.81rem;
    height: 12rem;
    padding: 1px;

}
.subCount{
    width: 37.81rem;
    height: 1.31rem;
    padding: 1px;

}


