*{
    margin: 0;
    border: 0;
    padding: 30px;
}


body{
    width: 41.56rem;
    height: 55.12rem;
    background-color: rgb(69, 67, 71);

}

main{
    width: 37.81rem;
    height: 47.18rem;

}

.List-Products{
    width: 37.81rem;
    height: 13.25rem;
}

.Count-Summary{
    width: 37.81rem;
    height: 12rem;
    padding: 1px;

}
.subCount{
    width: 37.81rem;
    height: 1.31rem;
    padding: 1px;

}


