footer {
    position:initial;
    left: 0;
    bottom: 0;
    background-color: var(--footer-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px
  }

  body{

    overflow-x: hidden;
  
  }