:root {
  --footer-color: #8162ff;
  --body-color: #030712;
  --text-color: #ffffff;
  --cinza-color: #1c1c1c;
  --verde-color: #4caf50;
  --font-body: 'Poppins', sans-serif;
}


body {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  background-color: var(--body-color);
  color: var(--text-color);
}

header {
  background-color: var(--body-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.logo img {
  max-width: 107px;
  max-height: 300px;
  margin-bottom: 10px;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
}

main {
  padding: 20px;
}

.ofertas {
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
}

.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.produto {
  background-color: var(--body-color);
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.produto img {
  max-width: 100%;
  height: auto;
}

.frete {
  background-color: var(--body-color);
  padding: 20px;
  text-align: center;
  margin-bottom: 40px;
}

/* Rodapé */
footer {
  background-color: var(--footer-color);
  padding: 1px;
  text-align: center;
  color: var(--text-color);
}
