:root {
  --footer-color: #8162ff;
  --body-color: #030712;
  --text-color: #ffffff;
  --cinza-color: #1c1c1c;
  --verde-color: #4caf50;
  --font-body: 'Poppins', sans-serif;
}


body {
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--text-color);
  color: var(--text-color);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--body-color);
}

.navbar-logo img {
  height: 113px;
}

.navbar-links a {
  color: var(--text-color);
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

.navbar-icons a {
  color: var(--text-color)  ;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  font-size: 24px; /* Ajuste o tamanho dos icons */
}
