body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-image {
  height: 250px;
  width: 300px;
  object-fit: fill;
  align-self: center;
}

.product-details {
  width: 489px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center ali;
  align-items: center;
}

.product-rating {
  color: #8162ff;
  font-size: 40px;
  margin: 0;
}

.product-pricetag{
  font-size: 30px;
}

.discount {
  color: #8162ff;
}

.recommended-products {
  width: 97px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.recommended-product {
  display: flex; /* Define o contêiner como flexível */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  justify-content: space-around; /* Espaçamento uniforme entre os itens */
  text-align: center;
}

.recommended-product img {
  height: 95px;
  text-align: center;
  padding: 10px;
}

.image-item {
  margin: 10px;
  text-align: center;
  color: #ffffff;
}

.product-details button {
  background-color: #8162ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.topicos:hover {
  background-color: #8162ff;
  border-radius: 4px;
}

