<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Navbar</title>
    <link rel="stylesheet" href="../styles/navbar.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-logo">
        <img src="../images/logo.png" alt="Logo da LYFM Store" />
      </div>
      <div class="navbar-links">
        <a href="#">Início</a>
        <a href="#">Ofertas</a>
        <a href="#">Catálogo</a>
      </div>
      <div class="navbar-icons">
        <a href="#" class="navbar-icon">👤</a>
        <a href="#" class="navbar-icon">🛒</a>
      </div>
    </nav>
    <script src="index.js"></script>
  </body>
</html>
