<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produto</title>
    <link rel="stylesheet" href="../styles/navbar.css" />
    <link rel="stylesheet" href="../styles/not-found.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-logo">
        <img src="../images/logo.png" alt="Logo da LYFM Store" />
      </div>
      <div class="navbar-links">
        <a class="topicos" href="../home/index.html">Início</a>
        <a class="topicos" href="../home/index.html">Ofertas</a>
        <a class="topicos" href="../catalog/index.html">Catálogo</a>
      </div>
      <div class="navbar-icons">
        <a href="#" class="navbar-icon">👤</a>
        <a href="#" class="navbar-icon">🛒</a>
      </div>
    </nav>
    <main class="not-found-main-container">
      <h3>Página não encontrada</h3>
    </main>
  </body>
</html>
