<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Produtos</title>
    <link rel="stylesheet" href="../styles/navbar.css" />
    <link rel="stylesheet" href="../styles/product-registration.css" />
    <link rel="stylesheet" href="../styles/navbar.css" />
    <link rel="stylesheet" href="../styles/toast.css" />
    <script src="../toast/index.js"></script>
    <script src="../utils/auth.js"></script>
  </head>
  <body id="container">
    <nav class="navbar">
      <div class="navbar-logo">
        <img src="../images/logo.png" alt="Logo da LYFM Store" />
      </div>
      <div class="navbar-links">
        <a class="topicos" href="../home/index.html">Início</a>
        <a class="topicos" href="../home/index.html">Ofertas</a>
        <a class="topicos" href="../catalog/index.html">Catálogo</a>
      </div>
      <div class="navbar-icons">
        <a href="#" class="navbar-icon">👤</a>
        <a href="#" class="navbar-icon">🛒</a>
      </div>
    </nav>
    <div class="container">
      <h1>Cadastro de Produtos</h1>
      <div class="product-image-container">
        <img id="productImage" src="../images/sem-imagem.png" alt="Imagem de um cadastro de produtos" />
      </div>
      <form id="productForm">
        <label id="productImageInputLabel" for="productImageInput">Selecionar foto</label>
        <input type="file" id="productImageInput" accept="image/*" />

        <label for="productName">Nome</label>
        <input type="text" id="productName" name="productName" />

        <label for="productPrice">Preço</label>
        <input type="text" id="productPrice" name="productPrice" step="0.01" value="R$ 0,00" />

        <label for="productStock">Estoque</label>
        <input type="text" id="productStock" name="productStock" step="0.01" value="1" />

        <label for="productCategory">Categoria</label>
        <select id="productCategory" name="productCategory">
          <option value="keyboards">Teclados</option>
          <option value="mouses">Mouses</option>
          <option value="headphones">Fones</option>
          <option value="monitors">Monitores</option>
          <option value="mousepads">Mousepads</option>
          <option value="speakers">Speakers</option>
        </select>

        <button type="submit">Cadastrar Produto</button>
      </form>
    </div>
    <script src="../utils/index.js"></script>
    <script src="../product-registration/script.js"></script>
  </body>
</html>
