<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja Virtual</title>
    <link rel="stylesheet" href="../styles/catalog.css" />
    <link rel="stylesheet" href="../styles/navbar.css" />
</head>
<body>
    <header>
      
        <nav class="navbar">
          <div class="navbar-logo">
            <img src="../images/logo.png" alt="Logo da LYFM Store" />
          </div>
          <div class="navbar-links">
            <a href="#">Início</a>
            <a href="#">Ofertas</a>
            <a href="#">Catálogo</a>
          </div>
          <div class="navbar-icons">
            <a href="#" class="navbar-icon">👤</a>
            <a href="#" class="navbar-icon">🛒</a>
          </div>
        </nav>
      </header>

    <main>
        <section class = "catalogContainer">

          <div class = "catalogSubConteiner">
            <div class = "produtoImg"></div>
            <div class = "produtoText">
              <a>Teclados</a>
            </div>
          </div>
          
          <div class = "catalogSubConteiner">
            <div class = "produtoImg">
            </div>
            <div class = "produtoText">
              <a>Mouse</a>
            </div>
          </div>

          <div class = "catalogSubConteiner">
            <div class = "produtoImg"></div>
            <div class = "produtoText">
              <a>Fones</a>
            </div>
          </div>
          
          <div class = "catalogSubConteiner">
            <div class = "produtoImg"></div>
            <div class = "produtoText">
              <a>Mousepads</a>
            </div>
          </div>

          <div class = "catalogSubConteiner">
            <div class = "produtoImg"></div>
            <div class = "produtoText">
              <a>Monitores</a>
            </div>
          </div>
          
          <div class = "catalogSubConteiner">
            <div class = "produtoImg"></div>
            <div class = "produtoText">
              <a>Speakers</a>
            </div>
          </div>
        </section>

    </main>

    <footer>
      <p>&copy; 2024 LYFM Store</p>
    </footer>
    
</body>

</html>