<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja Virtual</title>
    <link rel="stylesheet" href="../styles/home.css" />
</head>
<body>
    <header>
        <div class="logo">
          <img src="../images/logo.png" alt="Logo da Loja" />
        </div>
        <nav>
          <div class="menu-icon">&#9776;</div>
          <ul>
            <li><a href="#">Início</a></li>
            <li><a href="#">Catálogo</a></li>
            <li><a href="#">Ofertas</a></li>
          </ul>
        </nav>
      </header>

    <main>
        

    </main>
    
</body>
</html>