<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produto</title>
    <link rel="stylesheet" href="../styles/product.css" />
    <link rel="stylesheet" href="../styles/navbar.css" />
    <link rel="stylesheet" href="../styles/AddCart.css" />
    <link rel="stylesheet" href="../styles/home.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-logo">
        <img src="../images/logo.png" alt="Logo da LYFM Store" />
      </div>
      <div class="navbar-links">
        <a class="topicos" href="../home/index.html">Início</a>
        <a class="topicos" href="../home/index.html">Ofertas</a>
        <a class="topicos" href="../catalog/index.html">Catálogo</a>
      </div>
      <div class="navbar-icons">
        <a href="#" class="navbar-icon">👤</a>
        <a href="#" class="navbar-icon">🛒</a>
      </div>
    </nav>
    <div class="container">
      <div class="product-image">
        <img id="image"/>
      </div>
      <div class="product-details">
        <h2 id="name">Logitech Mx Master 3s</h2>
        <p id="rating">★★★★☆ (2 reviews)</p>
        <p id="price">R$ 467,93 <span class="discount">-23%</span></p>
        <button>
          Adicionar ao carrinho...
          <div class="star-1">
            <svg
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 784.11 815.53"
              style="
                shape-rendering: geometricPrecision;
                text-rendering: geometricPrecision;
                image-rendering: optimizeQuality;
                fill-rule: evenodd;
                clip-rule: evenodd;
              "
              version="1.1"
              xml:space="preserve"
              xmlns="http://www.w3.org/2000/svg"
            >
              <defs></defs>
              <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <path
                  d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                  class="fil0"
                ></path>
              </g>
            </svg>
          </div>
          <div class="star-2">
            <svg
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 784.11 815.53"
              style="
                shape-rendering: geometricPrecision;
                text-rendering: geometricPrecision;
                image-rendering: optimizeQuality;
                fill-rule: evenodd;
                clip-rule: evenodd;
              "
              version="1.1"
              xml:space="preserve"
              xmlns="http://www.w3.org/2000/svg"
            >
              <defs></defs>
              <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <path
                  d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                  class="fil0"
                ></path>
              </g>
            </svg>
          </div>
          <div class="star-3">
            <svg
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 784.11 815.53"
              style="
                shape-rendering: geometricPrecision;
                text-rendering: geometricPrecision;
                image-rendering: optimizeQuality;
                fill-rule: evenodd;
                clip-rule: evenodd;
              "
              version="1.1"
              xml:space="preserve"
              xmlns="http://www.w3.org/2000/svg"
            >
              <defs></defs>
              <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <path
                  d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                  class="fil0"
                ></path>
              </g>
            </svg>
          </div>
          <div class="star-4">
            <svg
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 784.11 815.53"
              style="
                shape-rendering: geometricPrecision;
                text-rendering: geometricPrecision;
                image-rendering: optimizeQuality;
                fill-rule: evenodd;
                clip-rule: evenodd;
              "
              version="1.1"
              xml:space="preserve"
              xmlns="http://www.w3.org/2000/svg"
            >
              <defs></defs>
              <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <path
                  d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                  class="fil0"
                ></path>
              </g>
            </svg>
          </div>
          <div class="star-5">
            <svg
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 784.11 815.53"
              style="
                shape-rendering: geometricPrecision;
                text-rendering: geometricPrecision;
                image-rendering: optimizeQuality;
                fill-rule: evenodd;
                clip-rule: evenodd;
              "
              version="1.1"
              xml:space="preserve"
              xmlns="http://www.w3.org/2000/svg"
            >
              <defs></defs>
              <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <path
                  d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                  class="fil0"
                ></path>
              </g>
            </svg>
          </div>
          <div class="star-6">
            <svg
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 784.11 815.53"
              style="
                shape-rendering: geometricPrecision;
                text-rendering: geometricPrecision;
                image-rendering: optimizeQuality;
                fill-rule: evenodd;
                clip-rule: evenodd;
              "
              version="1.1"
              xml:space="preserve"
              xmlns="http://www.w3.org/2000/svg"
            >
              <defs></defs>
              <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <path
                  d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                  class="fil0"
                ></path>
              </g>
            </svg>
          </div>
        </button>
        <p>Frete grátis!</p>
      </div>
    </div>

      <div class="recommended-product">
        <div class="image-item">
          <img src="../images/catalogo/01_sony-extra-bass.svg" alt="G Pro X Superlight" />
            <p>G Pro X Superlight</p>
            <p>R$ 306,00</p>
            <p>★★★★☆ (15)</p>
        </div>
        <div class="image-item">
         <img src="../images/catalogo/01_dell-S3422DWG.svg" alt="Dell" />
            <p>G Pro X Superlight</p>
            <p>R$ 645,00</p>
            <p>★★★★☆ (15)</p>
        </div>
        <div class="image-item">
         <img src="../images/catalogo/01_sony-S200F.svg" alt="Sony S200" />
            <p>G Pro X Superlight</p>
            <p>R$ 2343,00</p>
            <p>★★★★☆ (15)</p>
        </div>
        <div class="image-item">
         <img src="../images/catalogo/02_logi-astro-a30.svg" alt="Astro" />
            <p>G Pro X Superlight</p>
            <p>R$ 306,00</p>
            <p>★★★★☆ (15)</p>
        </div>
      </div>
    </div>

    <footer>
      <p>&copy; 2024 LYFM Store</p>
    </footer>
    <script src="../utils/index.js"></script>
    <script src="script.js"></script>
  </body>
</html>

