<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loja Virtual</title>
    <link rel="stylesheet" href="../styles/home.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="../images/logo.png" alt="Logo da Loja" />
      </div>
      <nav>
        <div class="menu-icon">&#9776;</div>
        <ul>
          <li><a href="#">Início</a></li>
          <li><a href="#">Catálogo</a></li>
          <li><a href="#">Ofertas</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="ofertas">
        <h2>Ofertas Imperdíveis!</h2>
        <img src="../images/ofertas.png" alt="Ofertas Imperdíveis" />
      </section>

      <section class="produtos">
        <div class="produto">
          <img src="produto1.jpg" alt="Produto 1" />
          <h3>Produto 1</h3>
          <p>R$ 99,99</p>
        </div>
      </section>

      <section class="frete">
        <h2>Frete Grátis</h2>
        <img src="../images/caminhao.png" alt="Caminhão de Entrega" />
      </section>
    </main>

    <footer>
      <p>&copy; 2024 LYFM Store</p>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
