<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loja Virtual</title>
    <link rel="stylesheet" href="../styles/home.css" />
    <link rel="stylesheet" href="../styles/navbar.css" />
    <link rel="stylesheet" href="../styles/catalog.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-logo">
        <img src="../images/logo.png" alt="Logo da LYFM Store" />
      </div>
      <div class="navbar-links">
        <a href="#">Início</a>
        <a href="#">Ofertas</a>
        <a href="#">Catálogo</a>
      </div>
      <div class="navbar-icons">
        <a href="#" class="navbar-icon">👤</a>
        <a href="#" class="navbar-icon">🛒</a>
      </div>
    </nav>

    <main>
      <section class="ofertas">
        <img src="../images/ofertas.png" alt="Ofertas Imperdíveis" />
      </section>

      <section class="catalogContainer">
        <div class="catalogSubConteiner">
          <div class="produtoImg">
            <img src="../images/catalogo/03_redragon-gamer-ashe.svg" alt="teclado" />
          </div>
          <div class="produtoText">
            <a href="">Teclados</a>
          </div>
        </div>

        <div class="catalogSubConteiner">
          <div class="produtoImg">
            <img src="../images/catalogo/03_logi-lightspeed.svg" alt="teclado" />
          </div>
          <div class="produtoText">
            <a href="">Mouse</a>
          </div>
        </div>

        <div class="catalogSubConteiner">
          <div class="produtoImg">
            <img src="../images/catalogo/02_logi-astro-a30.svg" alt="teclado" />
          </div>
          <div class="produtoText">
            <a href="">Fones</a>
          </div>
        </div>

        <div class="catalogSubConteiner">
          <div class="produtoImg">
            <img src="../images/catalogo/03_force-snow.svg" alt="teclado" />
          </div>
          <div class="produtoText">
            <a href="">Mousepads</a>
          </div>
        </div>

        <div class="catalogSubConteiner">
          <div class="produtoImg">
            <img src="../images/catalogo/01_dell-S3422DWG.svg" alt="teclado" />
          </div>
          <div class="produtoText">
            <a href="">Monitores</a>
          </div>
        </div>

        <div class="catalogSubConteiner">
          <div class="produtoImg">
            <img src="../images/catalogo/01_sony-extra-bass.svg" alt="teclado" />
          </div>
          <div class="produtoText">
            <a> Caixa de Som Sony Extra Bass</a>
            <p>R$250,00</p>
          </div>
        </div>

        <section class="frete">
          <img src="../images/caminhao.png" alt="Caminhão de Entrega" />
        </section>
      </section>
      <footer>
        <p>&copy; 2024 LYFM Store</p>
      </footer>
    </main>
  </body>
</html>

