<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cary</title>
    <link rel="stylesheet" href="../styles/cart.css">
</head>
<body>

    <header class = "headerCart">
        <span class = "textHeader">Carrinho</span>
    </header>

    <main class = "containerMain" >

        <ul class = "containerProducts">
            <div class = "subProducts">
                <img src="../images/conversation-svgrepo-com.svg" alt="imagem do produto">
                <div>
                    <span>Produto 1</span>
                    <span>R$ 100,00</span>
                </div>
            </div>
            <div class = "subProducts">
                <img src="../images/conversation-svgrepo-com.svg" alt="imagem do produto">
                <div>
                    <span>Produto 2</span>
                    <span>R$ 200,00</span>
                </div>
            </div>
            <div class = "subProducts">
                <img src="../images/conversation-svgrepo-com.svg" alt="imagem do produto">
                <div>
                    <span>Produto 3</span>
                    <span>R$ 300,00</span>
                </div>
                
            </div>
        </ul>

        <ul class = "containerTotal" >
            <div class = "subContainerTotal">
                <p>SubTotal</p>
                <span>R$ 600,00</span>
            </div>

            <div class = "subContainerTotal">
                <p>Entrega</p>
                <span>R$ 600,00</span>
            </div>

            <div class = "subContainerTotal">
                <p>Descontos</p>
                <span>R$ 600,00</span>
            </div>

            <div class = "subContainerTotal">
                <h3>Total</h3>
                <span>R$ 600,00</span>
            </div>
        </ul>
        <button>Finalizar Compra</button>
    </main>
    
</body>
</html>