<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cary</title>
    <link rel="stylesheet" href="../styles/cart.css">
</head>
<body>

    <header class = "headerCart">
        <span class = "textHeader">Carrinho</span>
    </header>

    <main class = "containerMain" >

        <ul class = "containerProducts">
            <td class = "subProducts">
                <span>Produto 1</span>
                <span>R$ 100,00</span>
            </td>
            <td class = "subProducts">
                <span>Produto 2</span>
                <span>R$ 200,00</span>
            </td>
            <td class = "subProducts">
                <span>Produto 3</span>
                <span>R$ 300,00</span>
            </td>
        </ul>

        <section class = "containerTotal" >
            <h2>Total</h2>
            <span>R$ 600,00</span>
        </section>

        <section class = "containerButtons" >
            <button>Finalizar Compra</button>
        </section>
    </main>
    
</body>
</html>