<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="../styles/cart.css">
</head>
<body>
    <header>
        <p>Carrinho</p>
    </header>
    <main>
        <section class = "List-Products">
            <div>

            </div>
            <div>

            </div>
        </section>

        <section class="Count-Summary">
            <div class = "subCount">
                <p>Subtotal</p>
            </div>

            <div class = "subCount">
                <p>Entrega</p>
            </div>

            <div class = "subCount">
                <p>Descontos</p>
            </div>

            <div class = "subCount">
                <p>Total</p>
            </div>
        </section>

        <section class = "Finish-Sale">
            <a href="">FINALIZAR COMPRA</a>
        </section>

    </main>
</body>
</html>